#top_module{
	width:912px;
	margin:0;
	z-index: 1;
	position: relative;
	border-radius: 20px;
	background: #faf9f4;
}
#text_box{
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	width:310px;
	color: #333;
  font-size: 1.4em;
  line-height: 1.5em;
}

#text_box h1 {
	color: #266ea9;
}

.home-image {
	display: block;
	float: right;
	width: 520px;
	margin: 20px;
	position: relative;
	/* Remove the parts of the circle that is outside of the image */
	overflow:hidden;
}

.home-image:after {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* Add more width */
    width: 130%;
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    padding-bottom: 130%;
    box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0);
    border-radius: 50%;
}

.home-image img {
		border-radius: 10px;
    max-width: 100%;
    display: block;
}

#app_feature {
	padding: 10px 10px 10px 10px;
  margin: 20px 20px 25px 6px;
  width: 500px;
	float: right;
	background: #f3f3e4;
	border-radius: 5px;
	overflow: hidden;
	height: 155px;
}

#app_feature h1 {
	color: #2f72a8;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	padding: 0;
	float: left;
}

#app_feature img.appstore {
	padding: 10px 0;
}

#app_feature .description {
	width: 300px;
	float: left;
	clear: left;
}

#app_feature img.iphone {
	float: right;
}

#app_feature h2 {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#666666;
	font-weight:bold;
}

#text_box h1, #byway_sidebar h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#266ea9;
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
}
#text_box p, #app_feature p {
	line-height:1.5em;
	color:#666666;
}
#maincontent_middle {
	position:relative;
	margin:15px 0 0 0;
	height:343px;
	width:940px;
}
#map_canvas {
	width:620px;
	height:343px;
}
#byway_sidebar {
	background-image:url("../var/skins/bluecrab_2010/images/home/bywaymap_bkgrd.png");
	background-repeat:no-repeat;
	width:250px;
	height:313px;
	padding: 20px 12px 10px 22px;
	float:left;
}
#byway_sidebar p{
	line-height:1.5em;
	color:#363636;
}

.widget {
	float:left;
	display:block;
	width: 290px;
	height:180px;
	padding-top:36px;
	margin:15px 0 0 0;
	text-align:center;
	overflow:hidden;
}
#events_widget {
	background: url(../var/skins/bluecrab_2010/images/home/events_box.png) no-repeat;
	margin-right:21px;
}
#itinerary_box {
	background: url(../var/skins/bluecrab_2010/images/home/itinerary_widget.png) no-repeat;
}
#featured_widget {
	background: url(../var/skins/bluecrab_2010/images/home/featured_widget.png) no-repeat;
	float:right;
}
#prepackageditinerary_widget {
	position:relative;
	height:170px;
	width:inherit;
	overflow-y:auto;
	overflow-x:hidden;
}

#events_widget_containment {  height:142px; width:inherit; overflow:hidden; }
#events_widget .even { background:#fff; }
#events_widget .event_date { height:35px; vertical-align:middle; padding:0 0 0 20px; font-weight:normal; width:70px; text-align:left; }
#events_widget .event_desc { height:35px; vertical-align:middle; padding:0 10px 0 0; font-weight:600;  text-align:left; }
	#events_widget .event_desc  a { color:#363636; }
#events_widget #viewCalendar { display: block; text-align: center; line-height:38px; vertical-align:middle; color:#005da9; font-weight:bold; font-size: 14px;  }

/*image slider*/
#makeMeScrollable{
	display:block;
	width:536px;
	padding: 25px 7px 25px 7px;
	float:left;
	overflow: hidden;
}
.scrollingHotSpot
{
	margin-top: 10px;
	padding-top:65px;
	position: relative;
	display: block;
	width: 28px;
	height: 140px;
	float:left;
	cursor: pointer;
}
#scrollingHotSpotLeft
{
	background:url(../var/skins/bluecrab_2010/images/home/left_arrow.png) 0 center no-repeat;
}

#scrollingHotSpotRight
{
	background: url(../var/skins/bluecrab_2010/images/home/left_arrow.png) -28px center no-repeat;
}

#scrollWrapper
{
	position: absolute;
	overflow: hidden;
	width: 528px;
	height: 175px;
	margin-left:5px;
}
#scrollableArea
{
	position: absolute;
	display:block;
	height: 175px;
	width:250px;
}
.sliderImage {
     padding-right:3px;
     margin:0;
     width: 173px;
     float:left;
     cursor: pointer;
}
