.site img {
  max-width: 100%;
}

img.drive {
  bottom: 10px;
  position: absolute;
  right: 35px;
}

.site #map {
  height: 300px;
  width: 100%;
}

#maincontent_middle .legend {
  position: absolute;
  right: 35px;
  top: 0;
  padding: 5px;
}

#maincontent_middle .legend p {
  text-align: right;
  font-weight: bold;
}
